<div>
  <div class="header1">
    <h2>&nbsp;{{M.name}}</h2>
    <button>Genre : {{M.genre}}</button>
    <button style="margin: 0.5% .3%;">Language : {{M.language}}</button>
  </div>
  <div class="sub">
    <h4>Select Date</h4>
    <button class="button button2" style="background-color: #f84464;">
      {{d.getDate()}}
    </button>
    <button class="button button2" style="background-color: #f84464;">
      {{d.getDate()+1}}
    </button>
    <button class="button button2" style="background-color: #f84464;">
      {{d.getDate()+2}}
    </button>
    <button class="button button2" style="background-color: #f84464;">
      {{(d.getDate()+3)%30}}
    </button>
    <button class="button button2" style="background-color: #f84464;">
      {{(d.getDate()+4)%30}}
    </button>
    <div *ngFor="let i of theaters">
      <hr />
      <h6 style="font-style:bold">{{i}}</h6>
      <ul style="list-style: none;overflow:hidden">
        <div class="mticket-info">
          <label style="color:#49ba8e">M-Ticket</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label style="color:#ffa426">F&B</label>
        </div>
        <li *ngFor="let j of shows" style="float:left;margin: 3%;">
          <button
            class="button button2" routerLink="/Screen"
            style="border-radius:5px;width:90px;border:#73ad21;border:solid;"
          >
            {{j}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>